.mi-header {
    display: flex;
    justify-content: space-between;
    /* Empuja el logo a la izquierda y el menú a la derecha */
    align-items: center;
    /* Alinea todo verticalmente al centro */
    padding: 15px 30px;
    /* Da un poco de espacio alrededor del header */
    background-color: #c5b28b;
}

.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.menu {
    display: flex;
    gap: 20px;
    /* Crea espacio entre "Inicio", "Servicios" y "Contacto" */
}

/* Estilos básicos para que los enlaces se vean bien (opcional) */
.menu a {
    text-decoration: none;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

body {
    margin: 0;
    padding: 0;
}

.menu a.activo {
    font-weight: 900;
    color: black;
}

#content {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    /* Este espacio empuja las secciones hacia adentro para que no toquen el borde */
    background-color: #a0a0a0;
    /* El color de fondo gris más oscuro del contenedor */
}

.aboutUsFoto {
    display: flex;
    align-items: center;
    /* Centra verticalmente el texto y la foto */
    gap: 40px;
    /* Crea un espacio de 40px entre el texto y la imagen */
    padding: 40px;
    background-color: #e0e0e0;
    /* Mantiene el fondo gris claro de tus secciones */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* Hacemos que el texto y la imagen ocupen exactamente el mismo ancho (50/50) */
.texto-about,
.imagen-about {
    flex: 1;
}

/* Evitamos que la imagen se salga de su contenedor y le damos un toque elegante */
.imagen-about img {
    width: 100%;
    height: auto;
}
